<div data-controller="toys">
  <h1>Toy Collection</h1>

  <div id="msg" data-toys-target="message" class="alert alert-success hidden">
    Your changes have been saved successfully.
  </div>

  <div class="sorting-header">
    <ul id="nav">
      <li id="name" data-action="click->toys#sortByName">Name</li>
      <li id="owner" data-action="click->toys#sortByOwner">Owner</li>
      <li id="tracking" data-action="click->toys#sortByTag">Tag</li>
      <li id="loaned" data-action="click->toys#sortByUser">User</li>
    </ul>
  </div>

  <div id="contentArea" data-toys-target="table">
    <!-- This will be populated by the Stimulus controller -->
  </div>

  <div class="actions">
    <button id="addToy" data-toys-target="addButton" data-action="click->toys#addToy" class="btn btn-primary">
      Add New Toy
    </button>
  </div>
</div>
